!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Whatif mockup')
    meta(name='author', content= "Henry Snopek")

    title= 'Whatif'

  body
    != content

    != livereload
